{% extends "_layouts/cp" %}

{% set title = title ?? 'Settings'|t('formie-rating-field') %}
{% set selectedSettingsItem = selectedSettingsItem ?? 'general' %}
{% set selectedSubnavItem = 'settings' %}

{% block sidebar %}
    <nav id="settings-nav">
        <ul>
            <li>
                <a href="{{ url('formie-rating-field/settings/general') }}" {% if selectedSettingsItem == 'general' %}class="sel"{% endif %} data-nav-item="general">
                    {{ 'General'|t('formie-rating-field') }}
                </a>
            </li>
            <li>
                <a href="{{ url('formie-rating-field/settings/interface') }}" {% if selectedSettingsItem == 'interface' %}class="sel"{% endif %} data-nav-item="interface">
                    {{ 'Interface'|t('formie-rating-field') }}
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}

{% css %}
    /* Prevent scroll-based highlighting */
    #settings-nav a {
        transition: none;
    }

    /* Ensure only the current page link is highlighted */
    #settings-nav a.sel {
        cursor: default;
    }
{% endcss %}
